/***
  This is the main CSS file for the SideBar Content
*/


/* colors


  hoverGrey: #e4e5e6;
  dividingBorders: #d7d8d8;


*/

.sidebar-content-wrap {
  display: flex;
  flex-wrap: wrap;
  min-width: 70vw;
  background: #F9F9FA;
  height: 100%;
}

.sidebar-content-wrap .sidebar-content-left-panel {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  padding: 30px;
  border-right: 1px solid #d7d8d8;
}

.sidebar-content-wrap .sidebar-content-left-panel ul {
  padding: 0;
  margin: 0;
}

.sidebar-content-wrap .sidebar-content-left-panel ul:last-of-type {
  border-top: 1px solid #d7d8d8;
}

.sidebar-content-wrap .sidebar-content-left-panel li {
  list-style: none;
  padding: 20px;
  cursor: pointer;
}

.sidebar-content-wrap .sidebar-content-left-panel a {
  text-decoration: none;
  color: #303743;
}

.sidebar-content-wrap .sidebar-content-left-panel li:hover {
  background-color: #e4e5e6;
  font-weight: bold
}


.sidebar-content-wrap .sidebar-content-right-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap {
  background: white;
  min-height: 15vh;
  display: flex;
  border-bottom: 1px solid #d7d8d8;
  padding: 20px;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .top-content {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .top-content .profile-avatar-wrap {
  flex-basis: 15%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .top-content .profile-text-wrap {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .top-content .profile-text-wrap .top {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .top-content .profile-text-wrap .top span:first-of-type {
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .top-content .profile-text-wrap .top span:last-of-type {
  background: #6d7882;
  color: white;
  border-radius: 10px;
  padding: 3px;
  font-size: 10px;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .top-content .profile-text-wrap .bottom {
  display: flex;
  flex-basis: 100%;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .top-content .profile-text-wrap .bottom .content-wrap {
  display: flex;
  flex-wrap: wrap;
  height: 20px;
  flex-basis: 100%;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .top-content .profile-text-wrap .bottom .content-wrap .divider {
  border-right: 1px solid #6d7882;
  margin: 0 10px;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .top-content .profile-icons-wrap {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 15px;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .top-content .profile-icons-wrap .bookmark-icon {
  margin-right: 10px;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .profile-avatar{
  max-width: 80px;
  border-radius: 50%;
}

.sidebar-content-wrap .sidebar-content-right-panel .top-content-wrap .profile-avatar{
  max-width: 80px;
  border-radius: 50%;
}

.sidebar-content-wrap .sidebar-content-right-panel .bottom-content-wrap {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.sidebar-content-wrap .sidebar-content-right-panel .bottom-content-wrap .bottom-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closing-btn {
  background: #4a4f59;
  width: 30px;
  height: 30px;
  color: white;
  position: absolute;
  top: 10px;
  left: -30px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.closing-btn img {
  width: 15px;
  height: 15px;
}

.icons {
  width: 15px;
  height: 15px;
  border: 1px solid #e4e5e6;
  padding: 5px;
  cursor: pointer;
}